.main_page {
  /* background-color: blue; */
  width: 100%;
  margin-top: 10vh;
  height: 90vh;
  overflow: scroll;
  overflow-x: hidden;

  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.table {
  width: 70%;
  /* background: green; */
  display: table;
  margin-left: 15%;
  margin-top: 1%;
  font-size: 95%;
  background-color: #098ea621;
  border-radius: 10px;
  padding: 2%;
  height: fit-content;
  padding: 1%;
}
th {
  vertical-align: bottom;
  text-align: left;
  color: rgb(86, 86, 86);
}

td {
  text-align: left;
}

.export_button {
  height: 30px;
  width: 10%;
  border-style: none;
  /* box-shadow: 10px 2px 1px rgba(0, 0, 0, 0.116); */
  cursor: pointer;
  color: white;
  background: #098fa6;
  border-radius: 5px;

  margin-left: 15%;
}

.remark_button {
  width: 50px;
  cursor: pointer;
  color: white;
  background: #098fa6;
  border-radius: 5px;
  border-style: none;
  text-align: center;
}

.section_things {
  width: 90%;
  height: 28vh;
  margin-left: 1%;
  margin-top: 1%;
  /* background: blue; */
}

.gridTins {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  font-size: 10px;
}

.thingsIntro {
  /* background-color: green; */
  display: flex;
  gap: 2%;
  width: 80%;
  margin-left: 1%;
  margin-top: 1%;
}

.serverButton {
  width: 30%;
  height: 20px;

  background-color: #098fa6;

  border-radius: 5px;
  cursor: pointer;
  border: none;

  bottom: 15px;
  /* display: flex; */
  color: white;
}

.pagination {
  bottom: 2%;
  margin-left: 1%;
  gap: 2%;
  display: flex;
  align-items: center;
  /* background: green; */
  /* position: absolute; */
}

.bottom_buttons {
  width: 100%;

  display: flex;
  /* background: yellow; */
  align-items: center;
  margin-top: 0.5%;
}

.remark_container {
  /* background: red; */
  height: 4vh;
  width: 20%;
  display: flex;
  margin-left: 40%;
  gap: 1%;
  margin-top: 1%;
}

.input_remark {
  height: 100%;
  width: 80%;
}

.remark_button {
  height: 100%;
}
.fieldset_controls {
  margin-top: 1.5%;
  display: flex;
  gap: 1%;
  /* background: rgba(102, 51, 153, 0.231); */
}
